.example-container {
    margin-top: 5px;
    margin-left: 230px;
  }
  
  .content{
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  